rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow any authenticated user to read videos and user info for the dashboard.
    match /videos/{videoId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null; // Allow creating new videos
    }

    match /users/{userId} {
      allow read: if request.auth != null;
      // Users are created on signup, prevent modification otherwise.
      allow write: if false; 
    }

    // Users can create and manage their own tags.
    // They can read all tags to display on the tag list.
    match /tags/{tagId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      // Allow user to update or delete their own tags only if not yet submitted.
      allow update, delete: if request.auth != null && resource.data.userId == request.auth.uid && resource.data.submitted == false;
    }
  }
}